@model IEnumerable<EmployeeView>

@if (User.IsInRole("Administrator"))
{
    <a asp-controller="Employee" asp-action="Edit" class="btn btn-success">Добавить</a>
}
    <table class="table table-bordered">
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Возраст</td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SurName</td>
                <td>@item.FirstName</td>
                <td align="center">@item.Age</td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Employee" asp-action="EmployeeDetails" asp-route-id="@item.Id">Детали</a>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-cut"></i></a>
                    }
                </td>
            </tr>
        }
    </table>