@model EmployeeView;

<a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a>
<a asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Удалить</a>
<table class="table table-bordered">

    <tr>
        <td>Имя</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.SurName</td>
    </tr>
    <tr>
        <td>Отечество</td>
        <td>@Model.Patronymic</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>Дата начала работы</td>
        <td>@Model.DateOfEmployment</td>
    </tr>
</table>
    <a asp-controller="Employee" asp-action="Index" class="label label-primary">Назад</a>

